#title{
	padding: 1% 1%;
	background: #58B957;
	width: 400px;
	border-radius: 10px;
	color: white;
	text-align: center;"
}

#btn-login{
	margin-top: 15%;
	margin-bottom: 10%;
	width: 400px;
}

#loginPanel{
	margin-top: 10%;
	margin-bottom: 10%;
	width: 400px;
}

#loginButtons{
	margin-left: 5%;
	margin-right: 5%;
}

#loginButtons h4{
	color: #58B957;
	font-weight: bold;
}

#loginButtons button{
	margin-bottom: 5%;
	width: 100%;
}

#choiceProblemButtons {
	margin-top: 15%;
	margin-left: 15%;
	margin-bottom: 10%;
	width: 400px;
}

#heading{
	padding: 1% 1%;
	width: 400px;
	text-align: center;"
}

#varButtonGrey{
	padding: 1% 1%;
	background: #999999;
	width: 250px;
	border-radius: 10px;
	color: white;
	text-align: center;
	margin-top: 5%;
	padding: 3%;
}

#varButtonGreen{
	padding: 1% 1%;
	background: #58B957;
	width: 250px;
	border-radius: 10px;
	color: white;
	text-align: center;
	margin-top: 5%;
	padding: 3%;
}

#graficoDocente{
	border: 3px solid #58B957;
	margin-top: 5%;
	margin-left: 22%;
}

#errorMsg{
	color:maroon;
}