#title{
	padding: 1% 1%;
	width: 400px;
	border-radius: 10px;
	color: #58B957;
	text-align: center;"
}

#btn-small{
	margin-top: 15%;
	margin-bottom: 10%;
	width: 200px;
}

#btn-small-2{
	margin-bottom: 10%;
	width: 200px;
}

#btn-small-3{
	margin-bottom: 10%;
	margin-top: 10%;
	width: 300px;
	height: 75px;
}

#containerBotonesCargar{
	margin-left: 10%;
}

#loginPanel{
	margin-top: 10%;
	margin-bottom: 10%;
	width: 400px;
}

#btn-login{
	margin-top: 15%;
	margin-bottom: 10%;
	width: 400px;
}

#loginButtons{
	margin-left: 5%;
	margin-right: 5%;
}

#loginButtons h4{
	color: #58B957;
	font-weight: bold;
}

#loginButtons button{
	margin-bottom: 5%;
	width: 100%;
}

#heading{
	padding: 1% 1%;
	width: 400px;
	text-align: center;"
}

#varButtonGrey{
	padding: 1% 1%;
	background: #999999;
	width: 250px;
	border-radius: 10px;
	color: white;
	text-align: center;
	margin-top: 5%;
	padding: 3%;
}

#varButtonGreen{
	padding: 1% 1%;
	background: #58B957;
	width: 250px;
	border-radius: 10px;
	color: white;
	text-align: center;
	margin-top: 5%;
	padding: 3%;
}

#graficoDocente{
	border: 3px solid #58B957;
    width: 100%;
}
#graficoAlumno{
	border: 3px solid #58B957;
	margin-top: 5%;
}

#errorMsg{
	color:maroon;
	font-weight: bold;
}

#choiceProblemButtons {
	margin-top: 15%;
	margin-left: 15%;
	margin-bottom: 10%;
	width: 400px;
}

#enunciado {
	height: 8em;
	resize: none;
}

#containerInputs{
	margin-left: 3%;
}

#botonesCrearProblema{
	/*margin-left: 12%;
	margin-top: 6%;*/
}

#vars{
	margin-left: 2%;
}

#canvasDiv{
	/*margin-left: 4%;*/
	
}

#graficosCrearProblema{
	margin-right: 1%;
}

.selected {
	background-color: #58B957;
}