<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Graficador de Gravimetría</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" >
    <!-- Estilos -->
    <link rel="stylesheet" type="text/css" href="../css/sb-admin-2.css" >
    <link rel="stylesheet" type="text/css" href="../css/gravimetria.css"  >
	<!-- <link href="css/geocharts.css" rel="stylesheet"> -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
		
  </head>
  <body>

    <div class="container-fluid">
		<div class="panel panel-success">
	      <!- Header  ->
	        <!--<div class="col-sm-12 col-md-12 col-lg-12" style="background-color:#E0F0D6;">-->
	        <div class="panel-heading">
				<img src="../images/logo.png" class="img-responsive" alt="logo secretaria de extension fcalg" width="350" height="270" style="position:relative; float:right">
	        	<h1 style="color:#59B958;"><b>Definicion de la Realidad</b></b></h1>
	        </div>

		  <!- Problema-Titulo ->
	      <div class="row">
	        <div class="col-sm-4 col-md-4 col-lg-4"></div>
	        <div class="col-sm-4 col-md-4 col-lg-4">
	        	<div id="heading">
	        		<h2><b>Problema</b></h2>
	        	</div>
	        </div>
	        <div class="col-sm-4 col-md-4 col-lg-4"></div>
	      </div>

	      <!-Problema/Variables/Grafico->
		      <div ng-app="problemModule" ng-controller="problemCtrl" class="row">
	  	        <!-Problema->
		      	<div class="row">
			        <div class="col-sm-2 col-md-2 col-lg-2"></div>
			        <div class="col-sm-8 col-md-8 col-lg-8">
			        	<div class="jumbotron">
			        		<p><b>Enunciado</b></p><textarea class="form-control" ng-model="enun" ng-change="change()" rows="5" cols="50">Se sabe que una caverna tiene forma esférica pero se encuentra enterrada. La densidad del material que se encuentra alrededor consta de 1,5 g/cm3. Los lugareños no conocen bien sus dimensiones pero suponen que debe tener no menos de 60 m de diámetro. Simular el relevamiento gravimétrico y obtener los datos del objeto considerando el error medio sin superar los costos pautados.</textarea>
							<b><p id="errorMsg" ng-model="enunErrorMsg">{{enunErrorMsg}}
			        	</div>
			        </div>
			        <div class="col-sm-2 col-md-2 col-lg-2"></div>
		        </div>

	  	       

	  	        <!-Variables-Inputs->
		      	<div class="row">
		      		<form role="form"  ng-submit="enviar()">
						
							<div class="col-sm-3 col-md-3 col-lg-3">
								
								<div id="varButtonGrey" class="center-block">
									<p><b>X0</b></p><input class="form-control" ng-model="x" ng-change="change()">
									<b><p id="errorMsg" ng-model="x0ErrorMsg">{{x0ErrorMsg}}</p></b>
								</div>
								<div id="varButtonGrey" class="center-block">
									<p><b>Ae</b></p><input class="form-control" ng-model="ae" ng-change="change()">
									<b><p id="errorMsg" ng-model="aeErrorMsg">{{aeErrorMsg}}</p></b>
								</div>
								<div id="varButtonGrey" class="center-block">
									<!-- Aca hay que elegir si queremos maxlength o que no pinte letras en el canvas, o arreglar con javascript--> 
									<p><b>Dmax</b></p><input class="form-control" maxlength="7" type="number" min="0" step="100" ng-model="dmax" ng-change="change()">
									<b><p id="errorMsg" ng-model="dmaxErrorMsg">{{dmaxErrorMsg}}</p></b>
								</div>
								<div id="varButtonGrey" class="center-block">
									<p><b>R0</b></p><input class="form-control" ng-model="r" ng-change="change()">
									<b><p id="errorMsg" ng-model="r0ErrorMsg">{{r0ErrorMsg}}</p></b>
								</div>
								<div id="varButtonGrey" class="center-block">
									<p><b>Amed</b></p><input class="form-control" ng-model="amed">
									<b><p id="errorMsg" ng-model="amedErrorMsg">{{amedErrorMsg}}</p></b>
								</div>
							</div>
				       		<div class="col-sm-6 col-md-6 col-lg-6">
							 <!-Variables-Titulo->
								<div class="row" >

									<h2><b>Ingrese los datos del Problema</b></h2>

								</div>
								<canvas id="graficoDocente" class="center-block" width="500" height="300">
									Grafico
								</canvas>
								<button ng-click="guardar()" ng-show="showButton" type="button" class="btn btn-success" id="btn-login"><h3><b>Guardar</b></h3></button>
				       		</div>
				       		<div class="col-sm-3 col-md-3 col-lg-3">
								<div id="varButtonGrey" class="center-block">
									<p><b>Z0</b></p><input class="form-control" ng-model="z">
									<b><p id="errorMsg" ng-model="z0ErrorMsg">{{z0ErrorMsg}}</p></b>
								</div>
								<div id="varButtonGreen" class="center-block">
									<p><b>Delta</b></p><input class="form-control" ng-model="delta">
									<b><p id="errorMsg" ng-model="deltaErrorMsg">{{deltaErrorMsg}}</p></b>
								</div>
								<div id="varButtonGrey" class="center-block">
									<p><b>Costo Maximo</b></p><input class="form-control" ng-model="costoMax" >
									<b><p id="errorMsg" ng-model="costMaxErrorMsg">{{costMaxErrorMsg}}</p></b>
								</div>
								<div id="varButtonGrey" class="center-block">
									<p><b>Costo Medicion</b></p><input class="form-control" ng-model="costoMed">
									<b><p id="errorMsg" ng-model="costMedErrorMsg">{{costMedErrorMsg}}</p></b>
								</div>
				       		</div>
				        
				    </form>  
		        </div>	
		</div>
    </div>  


	<!- Scripts ->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
	<script src="../js/jquery-1.11.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Scripts De Aplicación--> 
    <script src="../node_modules/bower_components/angular/angular.min.js"></script>
    <script src="../node_modules/nw-fileDialog-master/nw-fileDialog.js"></script>
    <script src="../js/fileManager/FileManager.js"></script>
    <script src="../js/fileManager/FileSaver.js"></script>
    <script src="../controller/problem-module-ng.js"></script> 
  </body>
</html>
