<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Graficador de Gravimetría</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" >
    <!-- Estilos -->
    <link rel="stylesheet" type="text/css" href="../css/sb-admin-2.css" >
    <link rel="stylesheet" type="text/css" href="../css/gravimetria.css"  >
	<!-- <link href="css/geocharts.css" rel="stylesheet"> -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
		
  </head>
  <body>

	<div class="container-fluid" ng-app="problemModule">
		<div class="panel panel-default">
			<div class="panel panel-success">
		      <!- Header  ->
		        <!--<div class="col-sm-12 col-md-12 col-lg-12" style="background-color:#E0F0D6;">-->
		        <div class="panel-heading">
					<img src="../images/logo.png" class="img-responsive" alt="logo secretaria de extension fcalg" width="350" height="270" style="position:relative; float:right">
		        	<h1 style="color:#59B958;"><b>Crear Problema</b></b></h1>
		        </div>	
				<!- Menu ->
				<div class="row">
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<nav class="navbar navbar-default" role="navigation">
							 <ul class="nav navbar-nav navbar-left">
								  <li class="active"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><b>Inicio</b></button></li>
								  <li class="active"><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm"><b>Ayuda</b></button></li>
							</ul>

						<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="exampleModalLabel">Volver a Inicio</h4>
						      </div>
						      <div class="modal-body">
						        <form>
						          <div class="form-group">
						            <label for="message-text" class="control-label"><h4>Atención! Usted perderá los datos ingresados al retornar a la pantalla de inicio.</h4></label>
						          </div>
						        </form>
						      </div>
						      <div class="modal-footer" ng-controller="problemCtrl">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						        <button type="button" ng-click="inicioAceptar()" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
						      </div>
						    </div>
						  </div>
						</div>
					</nav>
					</div>
				</div>				
				
				
			      <!-Problema/Variables/Grafico->
			      <div ng-controller="problemCtrl" class="row">
		  	        <!-Problema->
			      	<div class="row">
				        <div class="col-sm-2 col-md-2 col-lg-2"></div>
				        <div class="col-sm-8 col-md-8 col-lg-8">
				        	<div class="jumbotron">
				        		<p><b>Problema</b></p><textarea class="form-control" ng-model="enun" ng-change="change()" rows="3" cols="40"></textarea>
								<b><p id="errorMsg" ng-model="enunErrorMsg">{{enunErrorMsg}}
				        	</div>
							
				        </div>
				        <div class="col-sm-2 col-md-2 col-lg-2"></div>
			        </div>
					<!-Fin Problema->


			      	<div class="row">
			      		<form role="form" class="form-horizontal" >
				  	        <!-Variables-Inputs->
							<div class="col-sm-3 col-md-3 col-lg-3" id="containerInputs">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label for="" class="col-lg-2 control-label">L</label>
										<div class="col-lg-8">
											<input onKeyPress="return onlyNumber(event);" class="form-control" maxlength="7" type="number" min="0" step="100" ng-model="dmax" ng-change="change()" id="dmax">
											<p id="errorMsg" ng-model="dmaxErrorMsg">{{dmaxErrorMsg}}</p>
										</div>
										<label class="control-label">Mts</label>
									</div>
									<div class="form-group">
										<label for="" class="col-lg-2 control-label">X<sub>0</sub></label>
										<div class="col-lg-8">
											<input onKeyPress="return onlyNumber(event);" class="form-control" ng-model="x">
											<b><p id="errorMsg" ng-model="xErrorMsg">{{x0ErrorMsg}}</p></b>
										</div>
										<label class="control-label">Mts</label>
									</div>
									<div class="form-group">
										<label for="" class="col-lg-2 control-label">Z<sub>0</sub></label>
										<div class="col-lg-8">
											</p><input onKeyPress="return onlyNumber(event);" class="form-control" ng-model="z" >
											<b><p id="errorMsg" ng-model="zErrorMsg">{{z0ErrorMsg}}</p></b>
										</div>
										<label class="control-label">Mts</label>
									</div>
									<div class="form-group">
										<label for="" class="col-lg-2 control-label">R<sub>0</sub></label>
										<div class="col-lg-8">
										<input class="form-control" onKeyPress="return onlyNumber(event);" ng-model="r">
										<b><p id="errorMsg" ng-model="rErrorMsg">{{r0ErrorMsg}}</p></b>
										</div>
										<label class="control-label">Mts</label>
									</div>
									<div class="form-group">
										<label for="" class="col-lg-2 control-label">&delta;e<sub>0</sub></label>
										<div class="col-lg-8">
										<input class="form-control" onKeyPress="return onlyNumber(event);" ng-model="de" ng-change="changeD()" id="de">
										<b><p id="errorMsg" ng-model="deErrorMsg">{{deErrorMsg}}</p></b>
										</div>
										<label class="control-label">g/cm3</label>
									</div>
									<div class="form-group">
										<label for="" class="col-lg-2 control-label">&delta;i<sub>0</sub></label>
										<div class="col-lg-8">
										<input class="form-control" onKeyPress="return onlyNumber(event);" ng-model="di" ng-change="changeD()" id="di">
										<b><p id="errorMsg" ng-model="diErrorMsg">{{diErrorMsg}}</p></b>
										</div>
										<label class="control-label">g/cm3</label>
									</div>
									<div class="form-group">
										<label for="" class="col-lg-2 control-label">&delta;d<sub>0</sub></label>
										<div class="col-lg-8">
										<input class="form-control" ng-model="dd" disabled id="dd">
										<b><p id="errorMsg" ng-model="ddErrorMsg">{{deltaErrorMsg}}</p></b>
									</div>
									<label class="control-label">g/cm3</label>
									</div>
									<div class="form-group">
										<label for="" class="col-lg-2 control-label">Costo Unitario Medicion</label>
										<div class="col-lg-8">
											<div class="input-group">
												<span class="input-group-addon" id="basic-addon1">$</span>
												<input class="form-control" aria-describedby="basic-addon1"  onKeyPress="return onlyNumber(event);" ng-model="costoMed" ng-change="validarCostoUnitario()">
												<b><p id="errorMsg" ng-model="costoMedErrorMsg">{{costoMedErrorMsg}}</p></b>
											</div>
										</div>
										
									</div>
									<div class="row"></div>
									<div class="form-group">
										<label for="" class="col-lg-2 control-label">Costo Maximo</label>
										<div class="col-lg-8">
											<div class="input-group">
												<span class="input-group-addon" id="basic-addon1">$</span>
												<input class="form-control" onKeyPress="return onlyNumber(event);" ng-model="costoMax" ng-change="validarCostoMaximo()">
												<b><p id="errorMsg" ng-model="costoMaxErrorMsg">{{costoMaxErrorMsg}}</p></b>
											</div>
										</div>
									</div>
								</form>	
							</div>
				  	        <!-Grafico y Curva->
					       	<div class="col-sm-6 col-md-6 col-lg-6" id="graficosCrearProblema">
								 <!-Variables-Titulo->
	 								<!--<h3>Grafico </h3>-->
									<div id="canvasDiv">
										<canvas id="graficoDocente" class="center-block" width="600" height="300">
											Grafico
										</canvas>
									</div>
								   <highchart id="chart1" config="highchartsNG"></highchart>
				       		</div>
   				  	        <!-Botones->
							<div class="col-sm-1 col-md-1 col-lg-1" id="botonesCrearProblema">
								<button ng-click="graficar()" ng-show="showButton" type="button" class="btn btn-success" id="btn-small-2"><h3><b>Graficar</b></h3></button>
								<button ng-click="borrar()" ng-show="showButton" type="button" class="btn btn-success" id="btn-small-2"><h3><b>Borrar</b></h3></button>
								<button ng-click="guardar()" ng-show="showButton" type="button" class="btn btn-success" id="btn-small-2"><h3><b>Guardar</b></h3></button>
								<button ng-click="aleatorio()" ng-show="showButton" type="button" class="btn btn-success" id="btn-small-2"><h3><b>Aleatorio</b></h3></button>
								<button ng-click="atras()" ng-show="showButton" type="button" class="btn btn-success" id="btn-small-2"><h3><b>Atras</b></h3></button>
							</div>					        
					    </form>  
			        </div>	
			</div>
			</div>
    </div> 
    </div>  
	
	<!- Scripts ->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
	<script src="../js/jquery-1.11.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Scripts De Aplicación--> 
    <script src="../node_modules/bower_components/angular/angular.min.js"></script>
    <script src="../node_modules/nw-fileDialog-master/nw-fileDialog.js"></script>
    <script src="../js/fileManager/FileManager.js"></script>
    <script src="../js/fileManager/FileSaver.js"></script>
    <script src="../controller/problem-module-ng.js"></script> 
    <script src="../js/highstock.src.js"></script>
    <script src="../js/highcharts-ng.js"></script> 
	
  </body>
</html>
