<div class="row">
			<div class="col-sm-4 col-md-4 col-lg-4"></div>
			<div class="col-sm-4 col-md-4 col-lg-4">
			  <div id="title">
				<h2><b>{{titulo}}</b></h2>
			  </div>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4"></div>
		   </div>

<div  class="row">
	<div class="col-sm-12 col-md-12 col-lg-12" id="containerBotones">
		<div class="col-sm-4 col-md-4 col-lg-4"></div>
		<div class="col-sm-4 col-md-4 col-lg-4">
			<button style="margin-left:0%" ng-click="comenzar()" type="button" class="btn btn-success" id="choiceProblemButtons"><h3><b>Comenzar</b></h3></button>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4"></div>
	</div>	
</div>  
				

