<div  class="row">
	       		<div class="col-sm-12 col-md-12 col-lg-12" id="containerBotones">
		       		<div class="col-sm-6 col-md-6 col-lg-6">
						<button ng-click="generarProblema()" type="button" class="btn btn-success" id="choiceProblemButtons"><h3><b>Crear Problema</b></h3></button>
					</div>
		       		<div class="col-sm-6 col-md-6 col-lg-6">
						<button ng-click="cargarProblema()" type="button" class="btn btn-success" id="choiceProblemButtons"><h3><b>Resolver Problema</b></h3></button>
					</div>
				</div>	
			</div>  