<div class="container-fluid">
		

<div class="col-sm-4 col-md-4 col-lg-4"></div>

<div class="col-sm-4 col-md-4 col-lg-4">
					<div class="row">
						<!-Grafico y Curva->

						<div class="col-sm-6 col-md-6 col-lg-6" id="graficosCrearProblema" >
							<!-Variables-Titulo->

							<h3>Grafico </h3>
							<div id="canvasDiv" ng-model="canvasDiv" >
								<canvas id="graficoAlumno" class="center-block" width="600" height="300" ng-model="graficoAlumno">
								</canvas>
							</div>
							<highchart id="chart1" config="highchartsNG"></highchart>
						</div>
					</div>
				</div>
<div class="col-sm-4 col-md-4 col-lg-4"></div>

</div>
	