<div  class="row">
	<div class="col-sm-2 col-md-2 col-lg-2" id="containerBotones">
	</div>	
	<div class="col-sm-8 col-md-8 col-lg-8" id="containerBotones">
		<p class="lead">
		Esta aplicacion fue desarrollada por:
		<br>
		Agustin Parmisano Sabbione, Carla Luna Gennari, en conjunto con Andres Cesanelli y Santiago Gabriel Solazzi.
		
		
		</p>
		<p ><strong>Contacto:</strong>
		<br>
		agustinparmisano@gmail.com <br>
		carla.lunagennari@gmail.com<br>
		andres@cesanelli.com.ar<br>
		solazzi.santiago@gmail.com<br>
		
		</p>
		<h4 class="text-center">Version de Aplicación 0.0.2<h4>
	</div>
	<div class="col-sm-2 col-md-2 col-lg-2" id="containerBotones">
	</div>
</div>  