
	<div class="container-fluid">
		
			<div class="col-sm-1 col-md-1 col-lg-1"></div>

     		<div class="col-sm-10 col-md-10 col-lg-10">
     			<div class="panel panel-default">
           			<textarea class="form-control" id="enunciado" ng-model="enunciado" readonly>
             			{{enunciado}}
           			</textarea>
         		</div>
       		</div>

            <div class="col-sm-1 col-md-1 col-lg-1"></div>
			<div class="col-sm-5 col-md-5 col-lg-5">
				<div class="row">
						<h3>Variales </h3>
						
						<form class="form-horizontal" role="form">
							  <div class="form-group">
									<label for="ejemplo_email_3" class="col-lg-2 control-label">x</label>
									<div class="col-lg-8">
								  		<input type="number" class="form-control" id="x1" ng-model="x1" ng-change="changeX1()"
										 placeholder="X1" ngRequired onKeyPress="return onlyNumber(event);">
								 		<p id="errorMsg" ng-model="x1errorMsg">{{x1errorMsg}}</p>
									</div>
									<label class="control-label">m</label>
							  </div>


							  <div class="form-group">
									<label for="ejemplo_email_3" class="col-lg-2 control-label">z<sub>m</sub></label>
									<div class="col-lg-8">
								  		<input type="number" class="form-control" id="z1" ng-model="z1"
										 placeholder="Z1" onKeyPress="return onlyNumber(event);">
									 	<p id="errorMsg" ng-model="z1errorMsg">{{z1errorMsg}}</p>
									</div>
									<label class="control-label">m</label>
							  </div>
							  
							  <div class="form-group">
								<label for="ejemplo_email_3" class="col-lg-2 control-label">r<sub>m</sub></label>
								<div class="col-lg-8">
								  <input type="number" class="form-control" id="r1" ng-model="r1" ng-change="changeR1()"
										 placeholder="R1" onKeyPress="return onlyNumber(event);">
							 	  <p id="errorMsg" ng-model="r1errorMsg">{{r1errorMsg}}</p>
								</div>
								<label class="control-label">m</label>
							  </div>							  

							  <div class="form-group">
								<label for="ejemplo_email_3" class="col-lg-2 control-label">&delta;e<sub>m</sub></label>
								<div class="col-lg-8">
								  <input type="number" class="form-control" id="dem" ng-model="dem1" placeholder="dem1" ng-change="changeDdm()" onKeyPress="return onlyNumber(event);">
								  <p id="errorMsg" ng-model="dem1errorMsg">{{dem1errorMsg}}</p>
								</div>
								<label class="control-label">g/cm3</label>
							  </div>

							  <div class="form-group">
								<label for="ejemplo_email_3" class="col-lg-2 control-label">&delta;i<sub>m</sub></label>
								<div class="col-lg-8">
								  <input type="number" class="form-control" id="dim1" ng-model="dim1" placeholder="dim1" ng-change="changeDdm()" onKeyPress="return onlyNumber(event);">
								   <p id="errorMsg" ng-model="dim1errorMsg">{{dim1errorMsg}}</p>
								</div>
								<label class="control-label">g/cm3</label>
							  </div>

							  <div class="form-group">
								<label for="ejemplo_email_3" class="col-lg-2 control-label">&Delta;&delta;<sub>m</sub></label>
								<div class="col-lg-8">
								  <input type="number" class="form-control" id="ddm1" ng-model="ddm1" placeholder="ddm1" disabled>
								</div>
								<label class="control-label">m</label>
							  </div>
	
						  </form>
						  
					</div>
				    <div class="row">
					
						<button type="button" ng-click="diagramar()" class="btn btn-success" id="btn-continuar" ><h3>Diagramar</h3><p id="errorMsg" ng-model="graficErrorMsg">{{graficErrorMsg}}</p></b></button> 
						<button type="button" ng-click="guardar()" class="btn btn-success" id="btn-continuar" ><h3>Guardar</h3><p id="errorMsg" ng-model="guardarErrorMsg">{{guardarErrorMsg}}</p></b></button>
						<button type="button" ng-click="finalizar()" class="btn btn-success" id="btn-continuar" ><h3>Finalizar</h3><p id="errorMsg" ng-model="finalizarErrorMsg">{{finalizarErrorMsg}}</p></b></button> 
					</div>
					<br>
				    <div class="row">
						<!--Tabla Responsive-->
						<div class="table-responsive">
							<table class="table table-bordered" ng-table="tablaPruebas">
								<tr class="active">
									<td>X</td>
									<td>R</td>
									<td>Z</td>
									<td>&delta;em</td>
									<td>&delta;im</td>
									<td>&delta;dm</td>
									<td>Error</td>
								<tr>
								<tr ng-repeat="x in guardados track by $index" ng-click="selectData(x.id);" ng-class="{selected: x.id === idSelectedX}">
									<td>{{ x.x }}</td>
									<td>{{ x.r }}</td>
									<td>{{ x.z }}</td>
									<td>{{ x.dem }}</td>
									<td>{{ x.dim }}</td>
									<td>{{ x.ddm }}</td>
									<td>{{ x.error }}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<div class="col-sm-4 col-md-4 col-lg-4">
					<div class="row">
						<!-Grafico y Curva->

						<div class="col-sm-6 col-md-6 col-lg-6" id="graficosCrearProblema" >
							<!-Variables-Titulo->

							<h3>Grafico </h3>
							<div id="canvasDiv" ng-model="canvasDiv" >
								<canvas id="graficoAlumnoModel" class="center-block" width="600" height="300" ng-model="graficoAlumnoModel">
								</canvas>
							</div>
							<highchart id="chart1" config="highchartsNG"></highchart>
						</div>
					</div>
				</div>
		</div>
	</div>
