		<!- Enunciado de problema cargado  ->
         <div class="row">
           <div class="col-sm-1 col-md-1 col-lg-1"></div>
           <div class="col-sm-10 col-md-10 col-lg-10">
             <div class="panel panel-default">
               <textarea class="form-control" id="enunciado" ng-model="enunciado" readonly >
                 {{enunciado}}
               </textarea>
             </div>
           </div>
           <div class="col-sm-1 col-md-1 col-lg-1"></div>
          </div>
        <!- Botones para Cargar ->
        <div class="row">
          <div class="col-sm-10 col-md-10 col-lg-10" id="containerBotonesCargar">
            <div class="col-sm-4 col-md-4 col-lg-4">
              <input type="file" on-read-file="saveContent($fileContent)" class="btn btn-success" value="Cargar Problema" id="btn-small-3"/>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <button ng-click="problemaA()" type="button" class="btn btn-success" id="btn-small-3"><h3><b>Problema A</b></h3></button>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <button ng-click="problemaB()" type="button" class="btn btn-success" id="btn-small-3"><h3><b>Problema B</b></h3></button>
            </div>
         </div> 
       </div>
     </div><!-Controller de Cargado de Problema (Hasta Enunciado)->

     <div class="row" >
        <div class="col-sm-10 col-md-10 col-lg-10" id="containerBotonesCargar">
          <div class="col-sm-4 col-md-4 col-lg-4"></div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <button ng-click="continuar()" type="button" class="btn btn-success" id="btn-small-3" ng-disabled="!loaded"><h3><b>Continuar<b></h3></button>
          </div>
         </div> 
      </div>
    </div>
  </div>

